{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Social Reminder</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url "persons" %}">Persons</a></li>
        <li><a href="{% url "messages" %}">Messages</a></li>
        <li><a href="{% url "tags" %}">Tags</a></li>
    </ul>
</nav>
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>